*{margin: 0px; padding: 0px;}
body{color: #6d6d6d;}
ul li{list-style: none;}

.navbar-header{height: 100px;}
.navbar-nav{height: 100px;}
/*
.navbar.navbar-default{background: #FFFFFF;}
.navbar.navbar-default .container{padding: 0px 0px 20px 0px;}
.navbar .navbar-brand{display: inline-block;font-size: 24px;font-weight: 700;color: #fff;padding: 5px 20px;}
.navbar .navbar-brand img{margin-right: 10px;max-width: 60px;display: inline;}

#xynav ul>li>a{padding: 25px 15px 0px 15px;font-family: "微软雅黑";font-size: 16px;}
#xynav ul li.active>a{background: transparent;color: #F28C83;}

.navbar-header button{margin: 20px 30px 0px 0px;}*/

/*
#xynav{background: #FFFFFF;}

#xynav a:hover{
	color: #3498db;
}
#xynav .active a{
	color: #3498db;
}
#xynav .active a:hover{
	color: #777;
}*/

#xyslide{
	margin-top: 50px;
}

#xyservice{
	margin-top: 40px;
	line-height: 40px;
}
#xyservice li span{
	display: block;
	width: 123px;
	height: 123px;
	background: url(icons.png) no-repeat;
	margin: 0px auto;
	position: relative;
}
#xyservice .xyicon-1{
	background-position: 0px 0px;
}
#xyservice .xyicon-2{
	background-position: -123px 0px;
}
#xyservice .xyicon-3{
	background-position: -246px 0px;
}
#xyservice .xyicon-4{
	background-position: -369px 0px;
}
#xyservice li.on{
	color: #f00;
}