*{margin: 0px; padding: 0px;}
ul li{list-style: none;}

.navbar.navbar-default{background: #FFFFFF;}
.navbar-header{height: 70px;}
.navbar-header .navbar-brand{padding:0px 15px;font-size: 24px;font-weight: 700;line-height: 70px;}
.navbar-header .navbar-brand>img{display: inline-block;margin-right: 10px;}
.navbar-nav{padding-top: 10px;}
.navbar-header>button{margin-top: 20px;}

#xyslide{
	margin-top: 70px;
}

#xyservice{
	margin-top: 40px;
	line-height: 40px;
}
#xyservice li span{
	display: block;
	width: 123px;
	height: 123px;
	background: url(icons.png) no-repeat;
	margin: 0px auto;
	position: relative;
}
#xyservice .xyicon-1{
	background-position: 0px 0px;
}
#xyservice .xyicon-2{
	background-position: -123px 0px;
}
#xyservice .xyicon-3{
	background-position: -246px 0px;
}
#xyservice .xyicon-4{
	background-position: -369px 0px;
}
#xyservice li.on{
	color: #f00;
}