@media only screen and (min-width: 768px) {
	#header{padding-top: 10px;padding-bottom: 10px;}
	.header-scroll{padding: 0px !important;}
}
#header{background: #FFFFFF;}
#main-carousel{margin-top: 70px;}
